
* {
    box-sizing:border-box;
    margin: 0;
}

header {
    margin-bottom: 100px;
    display: flex
}

html {
    color: #fdfdfd;
    /* set text color to white */
    font-size: 18px;
    font-family: "arial", "sans-serif";
}

body {
    background-image: url("../images/trombone%20background.jpg");
    background-size: cover;
    background-position: center;
    height: 20vh;
    /* use 100% of the view height (vh) so image doesn't repeat, but fills space instead) */
    display: flex
}

h1,
h2 {
    font-weight: 400;
}

.h1-title,
.h2-title,
.ul-title {
    margin-left: 100px;
}

a {
    padding: 0px 10px 0px 0px;
    /* only give some space to the right of anchors (links) */
    color: #000000;
    /* set anchor color to white */
}

p {
    width: 75%;
    max-width: 500px;
}

img {
    padding: 0px 10px 0px 0px;
    /* only give some space to the right of images */
}

.image-box {
    width: 15%;
    padding: 20px;
    display: inline-block;
}

.section-pics {
    background-image: linear-gradient(#ffffff, #000000);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    width: 60%;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

.p-quote {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 10px;
    width: 50%;
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 20px;
    text-align: right;
    color: #ffffff;
    font-weight: 300;
}

.main-nav {
    text-transform: uppercase;
    text-decoration-color: #000000;
    font-size: 150%;
}

.section-features {
    width: 50%;
    margin-left: 45%;
    margin-right: 15%;
    margin-top: 5%;
    padding: 10px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.bottom-logo {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.section-pics-copy {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
