* {
    box-sizing: border-box;
    margin: 0;
}

html {
    color: #fff;
}

html {
    color: #fff;
    font-size: 18px;
    font-family: "arial", "sans-serif";
}

body {
    background-image: url("../images/carnegiehall.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    text-transform: none;
}

h1,
h2 {
    font-weight: 400;
}

a {
    color: #fff;
    font-weight: 300;
    padding: .5em;
    text-decoration: none;
    
}

a:hover {
    color: gainsboro;
}

ul {
    padding-left: 0;
}

.logo {
    padding: .5em;
    height: 5em;
}

header {
    align-items: center;
    display: flex;
      background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.95));
}

header nav {
    display: flex;
    flex:  1;
    justify-content: flex-end;
}

header nav ul {
    display: flex;

}

header nav li {
    list-style-type: none;
    justify-content: flex-end;
}

main {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.section-features {
    display: flex;
    align-items: flex-end;
}

.section-features figure {
    padding: 0 1em;
    text-align: center;
}

form label {
    flex-basis: auto;
    flex: 1;
}

form input, textarea, select {
    flex: 3;
    margin: .8em
}

form p{
    display: flex;
    
}

.hero-text {
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.75));
    border-radius: 15px;
    margin-left: 20px;
    padding-left: 4em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    flex: 4;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.quote {
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.75));
    color: #fff;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    flex: 4;
    margin-bottom: 30px; 
}

blockquote {
    padding: 2em;
    font-style: oblique;
    position: relative;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav ul {
    display: flex;
}

footer nav li {
    list-style-type: none;
    font-size: 1em;
    padding: 1em;
}

@media screen and (max-width: 30rem){
    header,
    main,
    form p {
        flex-direction: column;
    }
    .section-features {
        flex-direction: column;
        align-items: center;
    }
    .section-features figure {
        padding: 1em 0;
    }
}