* {
    box-sizing: border-box;
    margin: 0;
}

html {
    color: #ccc
}

body {
    background-image: url("../images/carnegiehall.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
    display: flex;
}

header nav {
    display: flex: 1;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav li {
    list-style-type: none;
    justify-content: flex-end;
}

html {
    color: #fff;
    font-size: 18px;
    font-family: "arial", "sans-serif";
}

main {
    display: flex;

}

footer {
    display: flex;
}

h1,
h2 {
    font-weight: 400;
}

.h1-title,
.h2-title,
.ul-title {
    margin-left: 100px;
}

a {
    padding: 0px 10px 0px 0px;
    /* only give some space to the right of anchors (links) */
    color: #fff;
    /* set anchor color to white */
}

a:hover {
    color: gainsboro;
}

p {
    width: 75%;
    max-width: 500px;
}

img {
    padding: 0px 10px 0px 0px;
    /* only give some space to the right of images */
}

@media
